.t{
    text-align: center;
    color:white;

}
.p{
    text-align: left;
}
p{
    text-align: center;
}
.button-container{


  display:flex;
  justify-content: center;
  align-items: center;
}
.apply-button{
    background-color: green;
    color:white;
    text-decoration: underline;
    padding: 10px;
}
.h1{
    text-align: left;
    color:black
}
.u{
    text-align: left;
    
}
.button1{
    color: white;
    background-color:rgb(44, 173, 44) ;
    border-radius: 5px;
    padding: 10px;
}
.top{
    background-image: url(C:\ojt\OJT3_Project\ojt3_project\public\Images\vcknew.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1px 2px;
    border-radius: 5px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    color:white;
    
;

    

}
h2{
    color: white;
}


div #scroller{
    width:900px;
    height:500px;
    overflow-y: scroll;
    scrollbar-color: grey #fff;
}
.main{
    max-width: 1000px;
    margin: auto;
    background-color: lch(92.62% 1.54 110.01 / 0.964);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;


    
}
